.footer {
  height: 2em;
  background-color: black;
  color: #FFF;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Tangerine', cursive;
  font-weight: lighter;
}
