.content {
  background-color: #F9F6F6;
}

.first-header {
  background: url('/cultomatriz5.jpg');
}

.second-header {
  background: url('/cultomatriz5.jpg');
}

.third-header {
  background: url('/cultomatriz5.jpg');
}

.fourth-header {
  background: url('/cultomatriz5.jpg');
}

.first-header, .second-header, .third-header, .fourth-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}
